[fetch]
	prune = true
[pull]
	rebase = false
[user]
        # The name you want to appear as the author of your commits
	name = Khai Phan
	# The e-mail address that is associated to the author of your commits
	email = khai.phan@datadoghq.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKRRAn/8UHKS+7+EUBJOVRzqvf1D2sGXnJV+8KrsccVN khai.phan+git-commit-signing@datadoghq.com
[commit]
	gpgsign = true
[gpg]
	format = ssh


# This is a url rewrite that helps [go and maybe rust] tooling that downloads libraries from our private repos
[url "git@github.com:DataDog/"]
        insteadOf = https://github.com/DataDog/
